name: Deploy DEV

on:
  push:
    branches: [main]
    paths-ignore:
      - '.github/**'
      - '*.md'

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Playbook - docker
        uses: dawidd6/action-ansible-playbook@9c825aa4d5c39496e71448bb7ae16a71f5fc75e1
        with:
          playbook: ansible/playbooks/docker/main.yml
          key: ${{ secrets.ANSIBLE_PRIVATE_SSH_KEY_DEV }}
          inventory: |
            [dev_infrastructure]
            vps1   ansible_host=${{ secrets.ANSIBLE_HOST_VPS1_DEV }}   ansible_port=${{ secrets.ANSIBLE_PORT_DEV }}   ansible_user=ansible
          options: |
            --extra-vars "ansible_sudo_pass=${{ secrets.ANSIBLE_PASSWORD_DEV }}"

      - name: Run Playbook - traefik
        uses: dawidd6/action-ansible-playbook@9c825aa4d5c39496e71448bb7ae16a71f5fc75e1
        with:
          playbook: ansible/playbooks/traefik/main.yml
          key: ${{ secrets.ANSIBLE_PRIVATE_SSH_KEY_DEV }}
          inventory: |
            [dev_infrastructure]
            vps1   ansible_host=${{ secrets.ANSIBLE_HOST_VPS1_DEV }}   ansible_port=${{ secrets.ANSIBLE_PORT_DEV }}   ansible_user=ansible
          options: |
            --extra-vars "ansible_sudo_pass=${{ secrets.ANSIBLE_PASSWORD_DEV }}"

      - name: Run Playbook - Application
        uses: dawidd6/action-ansible-playbook@9c825aa4d5c39496e71448bb7ae16a71f5fc75e1
        with:
          playbook: ansible/playbooks/app/main.yml
          key: ${{ secrets.ANSIBLE_PRIVATE_SSH_KEY_DEV }}
          inventory: |
            [dev_infrastructure]
            vps1   ansible_host=${{ secrets.ANSIBLE_HOST_VPS1_DEV }}   ansible_port=${{ secrets.ANSIBLE_PORT_DEV }}   ansible_user=ansible
          options: |
            --extra-vars "STAGE=dev"
            --extra-vars "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID_DEV }}"
            --extra-vars "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_ACCESS_KEY_SECRET_DEV }}"
            --extra-vars "GOOGLE_RECAPTCHA_SECRET_KEY=${{ secrets.GOOGLE_RECAPTCHA_SECRET_KEY_DEV }}"
            --extra-vars "GIPHY_API_KEY=${{ secrets.GIPHY_API_KEY_DEV }}"
            --extra-vars "MAIL_USER=${{ secrets.MAIL_USER_DEV }}"
            --extra-vars "MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD_DEV }}"
            --extra-vars "REDIS_HOST=${{ secrets.REDIS_HOST_DEV }}"
            --extra-vars "REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD_DEV }}"
            --extra-vars "POSTGRES_HOST=${{ secrets.POSTGRES_HOST_DEV }}"
            --extra-vars "POSTGRES_DB=${{ secrets.POSTGRES_DB_DEV }}"
            --extra-vars "POSTGRES_USER=${{ secrets.POSTGRES_USER_DEV }}"
            --extra-vars "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD_DEV }}"
            --extra-vars "JWT_ACCESS_TOKEN_SECRET=${{ secrets.JWT_ACCESS_TOKEN_SECRET_DEV }}"
            --extra-vars "JWT_REFRESH_TOKEN_SECRET=${{ secrets.JWT_REFRESH_TOKEN_SECRET_DEV }}"
