.carousel__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.carousel__slide {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.carousel__item {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.carousel__item:hover {
    cursor: pointer;
}

.slick-slider {
    width: 100vh;
    height: 100%;
}


.animation-handler {
    opacity: 0;
    transition: all 0.5s ease-in-out;


}


.active {
    opacity: 1;
}

