.mask {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask p {
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #F7FAFC;
}