version: '3.7'

services:
  redis:
    hostname: '${REDIS_HOST}'
    image: 'redis:7.0.10-alpine'
    entrypoint: 'redis-server --requirepass ${REDIS_PASSWORD} --maxmemory 1024mb --maxmemory-policy allkeys-lru'
    expose:
      - '${REDIS_PORT}'
    ports:
      - '${REDIS_PORT}:6379'
    networks:
      - 'gif-j'
    volumes:
      - 'redisdata:/data'
    restart: 'always'
  mysql:
    hostname: '${MYSQL_HOST}'
    image: 'mysql:8.0'
    environment:
      MYSQL_ROOT_PASSWORD: '${MYSQL_PASSWORD}'
      MYSQL_DATABASE: '${MYSQL_DB}'
    expose:
      - '${MYSQL_PORT}'
    ports:
      - '${MYSQL_PORT}:3306'
    networks:
      - 'gif-j'
    volumes:
      - 'mysqldata:/var/lib/mysql'
    restart: 'always'
    command: --default-authentication-plugin=mysql_native_password
  app:
    network_mode: "host"  # Use host networking for MySQL IP restriction
    hostname: '${SERVICE_NAME_STAGE}'
    build: '.'
    environment:
      STAGE: '${STAGE}'
      AWS_ACCESS_KEY_ID: '${AWS_ACCESS_KEY_ID}'
      AWS_SECRET_ACCESS_KEY: '${AWS_SECRET_ACCESS_KEY}'
      AWS_REGION: '${AWS_REGION}'
      S3_BUCKET_NAME: '${S3_BUCKET_NAME}'
      PORT: '${PORT}'
      GOOGLE_RECAPTCHA_SECRET_KEY: '${GOOGLE_RECAPTCHA_SECRET_KEY}'
      GIPHY_API_KEY: '${GIPHY_API_KEY}'
      MAIL_USER: '${MAIL_USER}'
      MAIL_PASSWORD: '${MAIL_PASSWORD}'
      REDIS_HOST: '${REDIS_HOST}'
      REDIS_PORT: '${REDIS_PORT}'
      REDIS_PASSWORD: '${REDIS_PASSWORD}'
      MYSQL_HOST: '${MYSQL_HOST}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_DB: '${MYSQL_DB}'
      MYSQL_PORT: '${MYSQL_PORT}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
      JWT_ACCESS_TOKEN_SECRET: '${JWT_ACCESS_TOKEN_SECRET}'
      JWT_REFRESH_TOKEN_SECRET: '${JWT_REFRESH_TOKEN_SECRET}'
    expose:
      - '${PORT}'
    # labels: # Removed - using Traefik file provider instead (host networking incompatible with Docker provider)
      # - 'traefik.http.routers.${SERVICE_NAME_STAGE}.tls=true'
      # - 'traefik.http.routers.${SERVICE_NAME_STAGE}.tls.certresolver=le'
      # - 'traefik.http.services.${SERVICE_NAME_STAGE}.loadbalancer.healthcheck.path=${PATH_PREFIX}/ping'
      # - 'traefik.http.services.${SERVICE_NAME_STAGE}.loadbalancer.healthcheck.interval=1s'
    # networks: # Commented out - using host networking
    #   - 'gif-j'
    #   - 'infrastructure-traefik'
    # depends_on: # Commented out - using host networking
    #   - 'mysql'
    #   - 'redis'
    restart: 'always'

networks:
  gif-j:
    driver: bridge
  infrastructure-traefik:
    external: true

volumes:
  mysqldata:
  redisdata:
