.public_carousel_modal__error .ant-modal-body {
    width: 100%;
    border-top: 2px #DFE6E9 solid;
    border-bottom: 2px #DFE6E9 solid;
    padding: 28px 0;
}

.public_carousel_modal__error .ant-modal-title {
    color: red
}

.error__block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error__block p {
    color: red
}






