.image_list_card {
    position: relative;
    min-width: 150px;
    width: 150px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.image_list_card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image_list_card__img:hover {
    cursor: pointer
}

.image_list_card__hover {
    min-width: 150px;
    width: 150px;
    aspect-ratio: 16 / 9;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    position: relative;
    z-index: 15;
    overflow: hidden;
}