.catalog__mock_item {
    display: flex;
    border: 2px solid #DFE6E9;
    border-radius: 7px;
    padding: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.catalog__mock_item img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}