.fadeInOut {
    animation: fade ease-in-out;
}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }
    25%,75% {
        opacity: 1
    }
}

.dissolve {
    animation: dissolve ease-in-out;
}

@keyframes dissolve {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}