.public_carousel_modal .ant-modal-body {
    width: 100%;
    border-top: 2px #DFE6E9 solid;
}

.public_carousel_modal__main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__top {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #111314;
}

.main__top__btn {
    margin: 24px 0;
    width: 116px;
    height: 46px;

}

.main__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.main__bottom__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main__bottom__auth__btn {
    color: #1677ff;
    border-color: #1677ff;
    margin-left: 24px;
}

.main__bottom__no__auth {
    display: flex;
    flex-direction: column;
}

.no__auth__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.no__auth__block__left {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}