.searched__gif {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 225px;
    padding: 8px;
    border: 1px #DFE6E9 solid;
    border-radius: 7px;
    box-sizing: border-box;
    transition: all 0.2ms ease-in-out;
    object-fit: fill;
}

.checked {
    padding: 0;
    border: 8px #00F7BF solid;
}
