---
- hosts: all
  gather_facts: false

  vars:
    category_name: infrastructure
    service_name: traefik
    remote_path: /home/{{ ansible_user }}/{{ category_name }}/{{ service_name }}

  tasks:
    - name: Create a directory
      ansible.builtin.file:
        path: '{{ remote_path }}'
        state: directory
        mode: 0750

    - name: Copy source docker-compose.yml
      ansible.builtin.template:
        src: docker-compose.yml
        dest: '{{ remote_path }}'
        mode: 0600

    - name: Create Docker network
      community.docker.docker_network:
        name: 'infrastructure-traefik'
        driver: bridge

    - name: Run Docker compose
      community.docker.docker_compose_v2:
        project_name: '{{ category_name }}-{{ service_name }}'
        project_src: '{{ remote_path }}'
        recreate: always
        remove_orphans: true
