.most_fav {
    padding: 24px;
}

.most_fav__gif {
    border: 1px #DFE6E9 solid;
    border-radius: 7px;
    padding: 8px;
    z-index: 1;
    box-sizing: border-box;
    width: 225px;
    height: 225px;
}

.most_fav h3 {
    margin-bottom: 16px;
}
