.reset__page__wrapper{
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.back_btn{
    position: absolute;
    top:10px;
    left: 10px;
}