.catalog {
    padding: 24px
}

.catalog h3 {
    margin-bottom: 32px;
}

.catalog__wrapper {
    display: flex;
    flex-direction: column;
    border: 1px #2D3436 solid;
    border-radius: 7px;
    padding: 24px;
    background-color: #fff;
}


.uploaded_img {
    border-radius: 7px;
}

.delete__button {
    width: 182px;
}

