.card {
    width: 225px;
    height: 225px;
    position: relative;
    float: left;
}

.card:hover {
    cursor: pointer;
}

.list__card {
    display: flex;
    width: 100%;
    float: left;
}

.list__card:hover{
    cursor: move;
}