<!DOCTYPE html>
<html>

<head>
  <title>Reset Your Password</title>
</head>

<body>
  <p>Dear customer,</p>
  <p>We have received a request to reset your password for your GIFALOT account. If you did not make this
    request, please ignore this email.</p>
  <p>To reset your password, please use the following code:</p>
  <h3>{{CODE}}</h3>
  <p>Please note that this code will expire in 30 minutes, so be sure to reset your password as soon as possible.</p>
  <p>Best regards,</p>
  <p>GIFALOT Team</p>
</body>

</html>
