.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    min-height: 100vh;
    background: white;
}

.sidebar__header {
    display: flex;
    padding: 24px;
    align-items: center;
}

.sidebar__header h3 {
    font-family: 'Mulish', serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #A4A6B3;
    align-self: center;
    margin-left: 10px;
}

.sidebar__buttons{
    margin-bottom: 20px
}