.mask_wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    inset: 0;
    overflow: hidden;
    outline: 0;
    z-index: 1000;;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask__content {
    position: relative;
    z-index: 10;
    max-width: 75vw;
    max-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask__content img,
.mask__content video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.mask__top_panel{
    position: absolute;
    top: 0;
    height: 46px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top_panel__item{
    color: #F7FAFC;
    padding: 12px;
    margin-left: 5px;
}
.top_panel__item:hover{
    background-color: rgba(0,0,0,0.3);
}

.item__icon{
    font-size: 24px;
}
