.list_card_settings{
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
}

.list_card_settings_box{
    display: flex;
    align-items: center;
}

.icons{
    font-size: 24px;
    transition: all .2s ease-in-out;
}

.icons:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.add__fav{
    transition: all .2s ease-in-out;
}

.add__fav:hover{
    cursor: pointer;
    transform: scale(1.2);
}