.dashboard {
    padding: 24px
}

.dashboard h3 {
    margin-bottom: 16px;
}

.folders__section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    overflow-y: scroll;
    max-height: 90vh;
}

.folders__section::-webkit-scrollbar {
    display: none;
}

.add_folder__container {
    background: #FFFFFF;
    border: 1px solid #2D3436;
    border-radius: 7px;
    position: relative;
    box-sizing: border-box;
    padding: 16px;
    min-width: 158px;
    min-height: 227px;
}

.add_folder__container:hover {
    cursor: pointer;
}

.add_folder__container img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 75%;
    object-fit: cover;
}

.grey {
    color: #636E72;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding: 10px 0;
}
