name: CI

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - '.github/**'
      - 'tf/**'
      - '*.md'

  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - name: Install dependencies
        working-directory: gif-j-backend
        run: npm ci

      - name: Typecheck
        working-directory: gif-j-backend
        run: npm run typecheck

      - name: Lint
        working-directory: gif-j-backend
        run: npm run lint --if-present -- --max-warnings=0

